<div class="header-background">
    <div class="header-section">
        <h2 class="mat-h2">Author</h2>
        <h1 class="mat-h1">{{name}}</h1>
        <div class="header-flex-container">
            <div>
                <h4 matTooltip="Birth Date">
                    <mat-icon>cake</mat-icon>{{birthday}}
                </h4>
            </div>
            <div>
                <h4 matTooltip="Birth Place">
                    <mat-icon>location_on</mat-icon>{{birthPlace}}
                </h4>
            </div>
        </div>
    </div>
</div>