/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-background {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.elevation {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
}